@page "/home"
@page "/"
@using System.Security.Claims;
<p style="font-size:26px; text-align:center;font-weight:900">Добро пожаловать на сайт "ВебЧата"!</p>
<div class="pa-4 justify-center my-4 mud-text-align-center">
    <img src="https://sun9-49.userapi.com/impg/2TdFKhS9bXyIoDoNI98703rdkH-cvVTdhKtsWA/W2-qWxFY_sI.jpg?size=604x380&quality=96&sign=6a1bb5779026782d8b6771b2c6f49da2&type=album" alt="ВебЧат" style="max-width: 100%; height: auto;">
    <p style="font-size:22px;text-align:center;font-weight:600">"ВебЧат" - это удобный и быстрый способ обмена сообщениями, который поможет вам оставаться на связи</p>
    <p style="font-size:20px;text-align:center;font-weight:600">с друзьями, коллегами и близкими, независимо от расстояния между вами.</p>

    <MudContainer Style="display: inline-block; position: fixed; top: 1000; bottom: 0; left: 0; right: 0; width: 900px; height: 300px; margin: auto; ">
        <MudGrid>
            <MudItem xs="12" sm="12" md="12">
                <p style="font-size:12px;text-align:center;">Здесь вы можете получить всю необходимую информацию о проекте,а так же опробовать его.</p>
                <div class="pa-4 justify-center my-4 mud-text-align-center">
                    <a href="/chat" class="mud-button mud-theme-primary" style="font-size: 32px;">
                        Перейти в чат
                    </a>
                </div>

                <div class="pa-4 justify-center my-4 mud-text-align-center">
                    <MudButton Variant="Variant.Filled" Style="margin:10px" Link="https://docs.google.com/document/d/1g2S0N8iNqooAXo4B42ZtW7EMMTb9Ze9Hn6K-9a-XFP0/edit?usp=sharing" Target="_blank">Техническое задание</MudButton>
                    <MudButton Variant="Variant.Filled" Style="margin:10px" Link="https://sun9-65.userapi.com/impg/TQA51XRggySBlsUZyasxnsI6GHoXbUZ44Gta7A/XND-pnJtPII.jpg?size=1484x399&quality=96&sign=0a082fe3966c8370bba0f96e77be8b82&type=album" Target="_blank">План</MudButton>
                    <MudButton Variant="Variant.Filled" Style="margin:10px" Link="https://docs.google.com/document/d/1XiPY5m2edaX9nFyPc8FLMCJWctjOJ7RveVVLrVCVZOA/edit?usp=sharing" Target="_blank">База данных</MudButton>
                    <MudButton Variant="Variant.Filled" Style="margin:10px" Link="https://docs.google.com/document/d/1ZJRDBEXoev6AjjM_5CXq4Kqcz2AnHh83xh9I2u29Q6Y/edit?usp=sharing" Target="_blank">Спецификация</MudButton>
                    <MudButton Variant="Variant.Filled" Style="margin:10px" Link="https://docs.google.com/document/d/1mza4Ia4ZByhxtxXrGrn-JdvXL07-tuWCKLHrP5QsSvw/edit?usp=sharing" Target="_blank">Руководство пользователя</MudButton>
                </div>
            </MudItem>
        </MudGrid>
    </MudContainer>
</div>